@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px; 
    font-variant: small-caps; /* para deixar a primeiras letras das palavras em maiúsculas */

}
header p{
    padding-bottom: 50px;
}   
header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 2em; /* para criar um espaçamento entre as linhas */
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(59, 54, 54);
    color: white;
}
section.imagem p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.329);

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}