@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
body{
    background-image: linear-gradient(to right, #F2E8DF, #F2C6C2); /*para criar um degrade. Da cor mais clara (esquerda) para a mais escura (direita).*/
}
main{
    background-color: white;
    border-radius: 10px; /* para que as bordas do main fiquem arredondadas*/
    box-shadow: 5px 5px 15px #866f6c94; /* Para configurar uma sombra. 1ยบ o quanto a sombra vai andar para o lado direito, 2ยบ o quanto a sombra vai andar para baixo, 3ยบ o quanto a sombra vai espalhar 4ยบ Qual a cor e transparencia */
    width: 600px;
    padding: 10px;
    margin: auto;
}
p{
    text-align: justify;
}
h1{
    color: #86A69D;
    text-align: center;
    text-shadow: 1px 1px 2px #f285859d;
}
h2{
    color: #F2B263;
}